.row-select{
    margin-top: 2%;
}
.juego{
    margin-top: 3%;
    background-image: url(../media/background-juego.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
h3{
    margin-top: 9px;
    margin-left: 50px;
}
#seconds{
    margin-top: 14px;
    margin-left: 100px;
}
#time-left{
    margin-left: -35px;
    margin-top: 15px;
}
h5{
    margin-top: 15px;
    margin-left: -75px;
}
.progress{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}
.jumbotron{
    margin-top: 3%;
    margin-bottom: 0%;
}
.row-puntos{
    height: 75px;
}
.row-productos{
    height: 225px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 65px;
    width: 400px;
    margin-left: 400px;
    margin-top: 80px;
}
.grid>img{
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}
.grid-productos{
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 1200px;
}
.grid-productos>img{
    width: 75px;
    height: 75px;
    margin-left: 88px;
    margin-right: 39px;
}
.grid-clientes{
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 1200px;
}
.grid-clientes>img{
    width: 200px;
    height: 220px;
}