.row-select{
    margin-top: 2%;
}
.juego{
    margin-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

h4{
    margin-top: 16px;
    margin-left: 80px;
}
#seconds{
    margin-top: 16px;
    margin-left: 40px;
}
#time-left{
    margin-top: 16px;
    margin-left: -100px;
}
h5{
    margin-top: 18px;
    margin-left: -65px;
}
.progress{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}
.row-puntos{
    height: 75px;
}
.row-productos{
    height: 225px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    width: 450px;
    margin-left: 390px;
    margin-top: 70px;
}
.grid>img{
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    margin-right: 11px;
}
.grid-productos{
    display: flex;
    flex-wrap: wrap;
    height: 75px;
    width: 1200px;
    margin-top: -25px;
}
.grid-productos>img{
    width: 80px;
    height: 80px;
    margin-left: 85px;
    margin-right: 75px;
}
.grid-clientes{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 1200px;
}
.grid-clientes>img{
    width: 200px;
    height: 250px;
    margin-left: 25px;
}
#BtnStart{
    margin-top: 125px;
    margin-left: 150px;
    height: 100px;
    width: 300px;
}