.juego{
    margin-top: 3%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-bottom: 60px;
}
.juego>img{
    height: 600px;
    width: 1110px;
}
.row-select{
    margin-top: 2%;
}
.progress{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}